.searchSection{
    margin: 10px;
}

.searchSection input{
    width: 300px;
}

.mainSearch{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

.mainSearch select{
    height: 20px;
    margin-top: 10px;
    margin-right: 5px;
}

.renderedImgs{
    display: block;
    max-width: 75%;
    max-height: 50%;
    width: auto;
    /* height: auto; */
}

/* This is the div that holds all of the products */
.renderedProducts{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
}

/* Each individual item with price and location */
.eachItem{
    margin: 10px;
}

.eachItem:hover{
    border: white solid 4px;
    
}