nav{
    display: flex;
    background-color:rgb(7, 73, 153);
    padding: 10px;
    
}

.logoArea{
    margin-right: auto;
    color:white;
    text-decoration: none;
}

.cart{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.Others{
    margin-right: 10px;
    color: white;
    text-decoration: none;
}